<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Initial Setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css" media="screen" />
    <style>
      body { height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center; overflow-y: scroll;}
    </style>
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
