[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mirage-django-lts = "*"
pylint = "*"
wheel = "*"
twine = "*"

[packages]
django = "*"

[requires]
python_version = "3.8"
