{% extends '../base.html' %}
{% block content %}
<div class="row">
  <h1>First Database Migration</h1>
</div>
<div class="card border-secondary mb-3">
  <div class="card-body">
    <h1 class="card-title">Django Setup</h1>

    <h2>Here is migrations will apply: </h2>

    {% for line in cmd_result %}
      <code>
        <pre>
          {{ line }}
        </pre>
      </code>
    {% endfor %}

    <p>Confirm migration list, press Migrate to apply migrations.</p>

    <form method="post" role="form">{% csrf_token %}
      <input name="button_name" type="hidden" value="apply"/>
      <button type="submit" class="btn btn-primary btn-lg">
        Apply Migration
      </button>
      <input name="next" type="hidden" value="{{ next }}" />
    </form>

  </div>
</div>
{% endblock %}
